<!DOCTYPE html>
<html><meta charset="utf-8">
  <meta name="viewport"
  content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/pure-min.css">
  <link rel="stylesheet" href="static/style.css?v=12">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body><div class="content">
    <h1>会員制の掲示板</h1>
    <form class="pure-form pure form-stacked"
    action="/try_login" method="post">
      <legend>ログインが必要です</legend>
      <fieldset>
        <label for="user">ユーザー名</label>
        <input type="text" name="user" id="user">
        <label for="pw">パスワード</label>
        <input type="password" name="pw" id="pw">
        <button type="submit"
        class="pure-button pure-buttom-primary">
        ログイン</button>
      </fieldset>
    </form>    
  </div></body>
</html>
