<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ja"><head><meta charset="utf-8">
  <meta name="viewport"
  content="width=device-width, initial-scale=1.0">
  <title>メッセージ</title>
  <link rel="stylesheet" href="../static/style.css?v=1a">
  <link rel="stylesheet" href="../static/pure-min.css">
  <!--
  <link rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
      integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+"
      crossorigin="anonymous">
  -->
</head><body>
  <div class="">
    <h1>{{ msg }}</h1>
    <div><a href="/">トップページへ</a></div>
  </div>
  </body>
</html>
